.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.userIcon{
  width: 32px;
  height: 32px;
  margin-left: 2em;
  float: left;
}

.usersLabel {
  float: left;
  font-size: 1.5em;
  margin-left: 1em;
  font-family: Roboto;
  font-size: 1.3em;
}

.topHeader {
  margin-top: 2em;
  width:100%;
  display: inline-block;
}

.usersAvatar {
  float: left;
}

.tableHeader {
  background-color: white;
  font-family: Roboto;
  font-size: 0.9em;
  font-weight: 900;
}

.headerText {
  color: #3b638b;
  text-transform: uppercase;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
